$MajorHeading: clamp(3.05rem, calc(3.54vw + 2.17rem), 5rem);
$SubHeading: clamp(2.44rem, calc(2.38vw + 1.85rem), 3.75rem);
$DesktopLogo: clamp(2.44rem, calc(1.38vw + 1.25rem), 1.75rem);
$MobileLogo: clamp(2rem, calc(1.1vw + 1.1rem), 1.15rem);
$DesktopText: clamp(1.26rem, calc(1vw + 2.31rem), 1.61rem);
$MobileText: clamp(1.15rem, calc(0.61vw + 1.1rem), 1.18rem);
